@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.container {
  @include flex-center;
  height: 100vh;
  width: 100vw;
}

.card {
  @include flex-center;
  height: 600px;
  &__img-wrapper {
    border-radius: $rounded-2xl;
    box-shadow: var(--shadow-xl);
  }
  img {
    display: block;
    box-shadow: var(--shadow-xl);
    width: 100%;
    height: 700px;
    border-radius: $rounded-2xl;
    object-fit: cover;
    @include respond(md) {
      height: 600px;
    }
  }
}

.auth {
  position: absolute;
  @include flex-center;
  flex-direction: column;
  padding: sp(7.5);
  gap: sp(1);
  width: sp(65);
  border-radius: $rounded-2xl;
  background-color: #f1f1f1;
  box-shadow: var(--shadow-xl);
  @include respond(md) {
    padding: sp(3);
    position: relative;
    height: 100%;
  }
  &__form {
    @include flex-center;
    flex-direction: column;
    gap: sp(2);
  }
}

:global(body.theme--dark) .auth {
  background-color: $card-bg_dark;
}

.input {
  border: solid 1px $color-teal-400;
  border-radius: $rounded;
  padding: sp(2) sp(1);
  transition: $transition;
  &:hover {
    box-shadow: var(--shadow-lg);
  }
  &:focus {
    outline: none;
    box-shadow: var(--shadow-lg);
    border-color: $color-teal-500;
  }
  &--error {
    border-color: $color-red-500;
    background-color: $color-red-300;
  }
}

.error {
  margin-top: -4px;
  font-size: 10px;
  color: $color-red-700;
}
