@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrapper {
  position: relative;
  width: sp(30);
  height: sp(30);
  margin-bottom: sp(10);
  @include flex-center;
  @include respond(md) {
    width: sp(45);
    height: sp(45);
  }
  img {
    margin-top: 10px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .icon {
    position: absolute;
    bottom: -15px;
  }
}

.settings {
  width: 100%;
}

.setting {
  @include flex-between;
}
