.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* gap-5 */
}

.content .uid {
  flex-wrap: wrap;
  font-size: 1.125rem; /* text-lg */
  font-weight: 700; /* font-bold */
}

.content img {
  width: 5rem; /* w-20 */
  border-radius: 0.5rem; /* rounded-lg */
}

.data {
  font-weight: 400; /* font-normal */
}

.display_name {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 300; /* font-light */
}

.body {
  display: flex;
  gap: 1.25rem; /* gap-5 */
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* grid-cols-3 */
  row-gap: 0.75rem; /* gap-y-3 */
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #fee2e2; /* bg-blue-100 */
  padding: 0.75rem; /* p-3 */
}

.dark .pokemons {
  background-color: #475569; /* bg-slate-600 */
  border-color: #2563eb; /* border-blue-600 */
}

.pokemon {
  display: flex;
  justify-content: center;
}

.pokemon div {
  height: 4rem; /* h-16 */
  width: 4rem; /* w-16 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px; /* rounded-full */
  border: 2px solid #fca5a5; /* border-blue-300 */
}

.pokemon div:hover {
    background-color: #99f6e4;
    transition: all 150ms ease-in-out;

}

.pokemon div img {
  transform: scale(1.5);
}
