@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.pokemons-team__wrapper {
  @include flex-center;
  flex-direction: column;
  gap: sp(4);
}

.pokemons-team {
  display: flex;
  flex-direction: column;
  gap: sp(3);
  margin-bottom: sp(2);
  &__item {
    width: sp(80);
    display: flex;
    gap: sp(5);
    align-items: center;
    @include respond(xs) {
      width: sp(100);
    }
    @include respond(md) {
      width: 100%;
    }
  }
}

.logout {
  padding-top: sp(4);
  @include flex-center;
}
