@use '../../../../assets/styles/variables' as *;

не используется 

.theme-transition-overlay {
    position: fixed;
    border-radius: 50%;
    background-color: $bg-color;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999;
    pointer-events: none;
    transition: transform 0.7s ease-out;

    &--active {
        transform: translate(-50%, -50%) scale(50);
    }
}