@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.wrong {
  margin-top: 40vh;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: sp(10);
}

.pokemons {
  @include flex-center;
  flex-wrap: wrap;
  gap: sp(5);
  margin-top: sp(5);
  &__pokemon-item {
    border: 1px solid;
    border-radius: $rounded;
    text-align: center;
    transition: $transition;
    width: 20vw;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
