@use 'sass:math' as math;
@use 'sass:map';

$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-700: #B91C1C;

$color-teal-200: #99f6e4;
$color-teal-400: #2dd4bf;
$color-teal-500: #14b8a6;

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);

$rounded: 0.25rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;
$rounded-4xl: 1.5rem;

$transition: all 150ms ease-in-out;

$sp-base: 0.25rem !default;

@function sp($n) {
  @if math.is-unitless($n) {
    @return $n * $sp-base;
  }
  @warn "sp(): ожидается безразмерное число, получено: #{$n}";
  @return $n;
}
