@use 'sass:math' as math;
@use 'sass:map';

$bg-color: #f3f4f6;
$bg-color_dark: #111827;

$text-color: #111827;
$text-color_dark: #f3f4f6;

$text-color-sm: #4b5563;
$text-color-sm_dark: #9ca3af;

$card-bg_light: #ffffff;
$card-bg_dark: #1f2937;

$card-shadow_light:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -2px rgba(0, 0, 0, 0.1);
$card-shadow_dark:
  0 4px 6px -1px rgba(255, 255, 255, 0.05),
  0 2px 4px -2px rgba(255, 255, 255, 0.05);

$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-700: #b91c1c;

$color-teal-200: #99f6e4;
$color-teal-400: #2dd4bf;
$color-teal-500: #14b8a6;

$rounded: 0.25rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;
$rounded-4xl: 1.5rem;

$pokeball-color_light: linear-gradient(to bottom, red 0 50%, white 50% 100%);
$pokeball-color_dark: linear-gradient(to bottom, #333 50%, #999 50%);

$transition: all 150ms ease-in-out;

$sp-base: 0.25rem !default;

@function sp($n) {
  @if math.is-unitless($n) {
    @return $n * $sp-base;
  }
  @warn "sp(): ожидается безразмерное число, получено: #{$n}";
  @return $n;
}
